button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: 2px solid black;
    transition: all 0.07s;
    font-size: 1.2rem;
}

.playing {
    border: 2px solid yellow;
    transform: scale(1.1);
}

.button-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 3rem;
}

.play-window {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 300px;
}

.player-icon {
    width: 200px;
}

.break {
    font-size: 3rem;
}
.computer-icon {
    width: 200px;
}

.output-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.output {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 1.5rem;
    padding: 1rem;
}

.replay {
    display: none;
    border: none;
}

.replay.active:hover {
    transition: 0.1s;
    transform: scale(1.1);
    color: #14B9F0 ;
}

.btn-key {
    transition: all 0.1s;
}

.btn-key:hover {
    transform: scale(1.1);
    border-color: #14B9F0 ;
}

/* Toggle Classes */

.active {
    display: block;
}

.win {
    filter: invert(75%) sepia(79%) saturate(3787%) hue-rotate(157deg) brightness(96%) contrast(95%);
}

